<div class="header">
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid" src="{{slideOptions[0]}}" alt="First slide">
      </div>
      <div class="carousel-item ">
        <img class="img-fluid" src="{{slideOptions[1]}}" alt="Second slide">
      </div>
      <div class="carousel-item ">
        <img class="img-fluid" src="{{slideOptions[2]}}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<section class="first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 first-information">
        <h3>OUR ROOTS</h3>
        <p>
          The towering oak starts from a single acorn. When you take the measure of that tree, it’s easy to overlook the countless
          years it took for that small acorn to take root – and the deep roots that serve as the unseen foundation for the
          growing tree. History, the strength of one’s foundation, our roots – we don’t take any of this for granted. We
          believe that you can’t move forward without respecting and understanding your past.
        </p>
        <p>
          Universal was founded in 1977 in New Jersey as a manufacturer of nutritional supplements for bodybuilders. We started business
          during the Golden Age of Bodybuilding when the first Sandow was awarded; when “Pumping Iron” changed the way people
          thought about the sport.
        </p>
        <p>
          We wanted to change the industry. Nearly forty years later, we are still trying – to manufacture the finest nutritional supplements
          in the world and to promote a positive community of lifters. Through your support and loyalty, we know we’ll be
          doing that for many years to come.
        </p>
        <button class="btn">LEARN MORE</button>
      </div>
      <div class="col-md-6 text-center rootImage">
        <img src="./assets/root.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<section class="second">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-12 video">
        <iframe width="104%" height="100%" src="https://www.youtube.com/embed/SgvCMxYPOFs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 secondText">
        <div class="arrow-left"></div>
        <p>Video</p>
        <span class="videoTittle">SIZE FOR SEVENTY</span>
        <span class="videoDesc">With $70 in his pocket, IFBB Pro Bodybuilder and Universal Athlete Chris Tuttle has to shop for a week’s worth of
          groceries. Can he do it and come under budget? Check out the video.</span>
        <span class="videoBy">BY: QUALITY PROTEIN</span>
      </div>
    </div>
  </div>
</section>
<section class="third">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 productNew text-center">
        <a href="#">REAL GAINS 3.8 LB VANILLA ICE CREAM</a>
        <img src="./assets/productNew.png" alt="">
        <button class="btn">SHOP NOW</button>
      </div>
      <div class="col-md-8 productBack">
        <h3>WORKOUT</h3>
        <span>REP, SET, AND GROW</span>
        <p>
          On you marks, get set, now grow... I know that you know all the basics on how a workout works. You've got your reps which
          make up your sets which make up your workout. Well la de da.The same thing day in and day out only gets you the
          same tired results. You don't have to reinvent the barbell or the bench press. All you have to do is change the
          way you use them. Change up your reps and sets and everything else will follow.
        </p>
        <button class="btn">READ MORE</button>
      </div>
    </div>
  </div>
</section>
<section class="fourth">
  <div class="parallax">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <img src="./assets/logo.png" alt="">
        </div>
        <div class="col-md-8 offset-md-2 text-center">
          <span>SHARE YOUR STRENGTH WITH US</span>
          <span>#STRONG40</span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"></div>
</section>
<section class="fifth">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 instagram">
            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div class="col-md-6">
                <button class="btn">FOLLOW US</button>

              </div>
            </div>
          </div>
          <div class="col-md-12 twitter">
            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-twitter" aria-hidden="true"></i>

              </div>
              <div class="col-md-6">
                <button class="btn">FOLLOW US</button>

              </div>
            </div>
          </div>
          <div class="col-md-12 facebook">
            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-facebook" aria-hidden="true"></i>

              </div>
              <div class="col-md-6">
                <button class="btn">FOLLOW US</button>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 productBack">
        <h3>WORKOUT</h3>
        <span>SIZE ON SEVENTY</span>
        <p>
          On you marks, get set, now grow... I know that you know all the basics on how a workout works. You've got your reps which
          make up your sets which make up your workout. Well la de da.The same thing day in and day out only gets you the
          same tired results. You don't have to reinvent the barbell or the bench press. All you have to do is change the
          way you use them. Change up your reps and sets and everything else will follow.
        </p>
        <button class="btn readMore">READ MORE</button>
      </div>
    </div>
  </div>
</section>

<div class="sixth">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 lifestyle">
        <h3>LIFESTYLE</h3>
        <span>JUST LIKE ME</span>
        <span>Throughout history we have embraced physical talent and praised athletic ability. From the inception of the ancient
          Olympic Games in Greece in 776 B.C. to modern day sports, athletics have proven to be an important part of many
          cultures.</span>
          <button class="btn">READ MORE</button>
      </div>
      <div class="col-md-4 text-center products">
        <h3>PRODUCTS</h3>
        <button class="btn">SHOP NOW</button>
      </div>
    </div>
  </div>
</div>
