.header {
  font-family: 'Oswald', sans-serif;
  z-index: 0;
  img {
    width: 100%;
  }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.first {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 5%;
  padding-top: 5%;
  background: url('../../../assets/section2Background.png');
  .first-information {
    padding-left: 10%;
    h3 {
      font-size: 45px;
      margin-bottom: 5%;
    }
    p {
      font-size: 12px;
      color: #3c3c3c;
      margin-bottom: 5%;
    }
    button {
      background: transparent;
      border: 2px solid #c5b46a;
      color: #c5b46a;
      transition: .3s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
    .rootImage {
      img {
        width: 90%;
      }
    }
  }
}

.second {
  font-family: 'Oswald', sans-serif;
  .container-fluid {
    height: 100%;
    padding-left: 0;
    .video {
      height: 500px;
      width: 100% !important;
      background-size: 100% 100%;
      position: relative;
      overflow: hidden;
    }
    .secondText {
      .arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid blue;
        float: left;
        margin-right: 5%;
        margin-top: 15%;
      }
      padding-top: 4%;
      p {
        margin-left: 5%;
        color: #b5cc62;
        font-size: 24px;
      }
      .videoTittle {
        margin-left: 5%;
        font-size: 48px;
        display: block;
        margin-top: -5%;
        margin-bottom: 10%;
      }
      .videoDesc {
        margin-left: 11%;
        display: block;
        margin-bottom: 4%;
      }
      .videoBy {
        margin-left: 11%;
        color: #b5cc62;
      }
    }
  }
}

.third {
  img {
    width: 100%;
  }
  .productNew {
    padding-top: 3%;
    a {
      color: #3a4977;
      font-size: 28px;
    }
    button {
      margin-bottom: 8%;
      background: transparent;
      border: 2px solid #c5b46a;
      color: #c5b46a;
      transition: .3s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
  }
  .productBack {
    padding-top: 12%;
    padding-bottom: 8%;
    padding-left: 15%;
    padding-right: 15%; // padding: 15%;
    background: url('../../../assets/productBack.png') no-repeat;
    h3 {
      font-size: 18px;
      color: #c5b46a;
      font-weight: bold;
    }
    span {
      font-size: 40px;
      color: #ffffff;
    }
    p {
      color: #ffffff;
      font-size: 14px;
    }
    button {
      background: transparent;
      border: 2px solid #c5b46a;
      color: #c5b46a;
      transition: .3s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
  }
}

.parallax {
  /* The image used */
  background-image: url('../../../assets/section4background.jpg');
  /* Full height */
  height: 40vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth {
  .row {
    padding-top: 8%;
    img {
      padding-left: 10%;
      width: 60%;
    }
    span {
      display: block;
      color: #ffffff;
      font-size: 38px;
    }
  }
}

.fifth {
  i {
    font-size: 5vw;
    color: #ffffff;
    margin: 10%;
    margin-left: 50%;
  }
  button {
    margin-top: 15%;
    background: transparent;
    border: 2px solid #ffff;
    color: #ffffff;
    transition: 1s ease all;
    &:hover {
      background: rgba(221, 56, 56, 1);
      color: #ffffff;
      border: 2px solid rgba(221, 56, 56, 1);
    }
  }
  .instagram {
    background: url('../../../assets/instagramBackground.png') repeat-x scroll 0 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .facebook {
    
    background: url('../../../assets/facebookBackground.png') repeat-x scroll 0 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .twitter {
    margin-bottom: 1%;
    margin-top: 1%;
    background: url('../../../assets/twitterBackground.png') repeat-x scroll 0 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .productBack {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
    h3 {
      font-size: 18px;
      color: #c5b46a;
      font-weight: bold;
    }
    span {
      font-size: 40px;
      color: #000000;
    }
    p {
      color: #000000;
      font-size: 14px;
    }
    .readMore {
      margin-top: 3%;
      background: transparent;
      border: 2px solid #c5b46a;
      color: #c5b46a;
      transition: .3s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
  }
}

.sixth{
  .lifestyle{
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 15%;
    background: url('../../../assets/lifestyleBackground.png') no-repeat;
    background-size: cover;
    border-right: 5px solid #ffffff;
    h3 {
      font-size: 18px;
      color: #c5b46a;
      font-weight: bold;
    }
    span{
      display: block;
      color: #ffffff;
    } 
    button {
      margin-top: 15%;
      background: transparent;
      border: 2px solid #ffff;
      color: #ffffff;
      transition: 1s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
  }
  .products{
    background: url('../../../assets/productsBackground.jpg') no-repeat;
    background-position-x: center;
    padding-top: 20%;
    h3 {
      font-size: 28px;
      color: #c5b46a;
      font-weight: bold;
    }
    button {
      margin-top: 3%;
      background: transparent;
      border: 2px solid #ffff;
      color: #ffffff;
      transition: 1s ease all;
      &:hover {
        background: rgba(221, 56, 56, 1);
        color: #ffffff;
        border: 2px solid rgba(221, 56, 56, 1);
      }
    }
  }
}
