.navbarContainer {
  font-family: 'Oswald', sans-serif;

  position: fixed;
  width: 100%;
  z-index: 2;
  height: 20vh;
  a {
    text-decoration: none;
  }
}

.times {
  visibility: hidden;
}
.other-nav{
  background-color: rgba(0, 0, 0, .5);
}
.navbar-colorMain{
  background: transparent;
}
.navbar-color {
  font-family: 'Oswald', sans-serif;

  transition: .5s ease all;
  .navMenu {
    padding-left: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    i,
    a {
      color: #ffffff;
      padding-left: 5%;
      cursor: pointer;
    }
    i {
      font-size: 24px;
    }
    a {
      font-size: 14px;
      transition: .3s ease all;
      &:hover {
        background-color: #c66371;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 2%;
        margin-left: 2%;
      }
    }
    .fa-bars {
      margin-right: 10%;
    }
  }
  .brandImage {
    width: 100%;
    img {
      width: 80%;
      padding-top: 2%;
      padding-bottom: 2%;
    }
  }
  .searchCar {
    padding-top: 2%;
    padding-bottom: 2%;
    i {
      color: #ffffff;
      padding-left: 4%;
      font-size: 24px;
      cursor: pointer;
      transition: .3s ease all;
      &:hover {
        background-color: #c66371;
        padding-right: 2%;
        margin-left: 2%;
      }
    }
  }
}

.sideBar {
  position: fixed;
  width: 100%;
  z-index: 3;

  .menuOptions {
    height: 100vh;
    background-color: rgba(86, 209, 88,.5);
    .fa-times {
      color: #ffffff;
      padding-top: 6%;
      padding-left: 25%;
      font-size: 24px;
      cursor: pointer;
    }
    ul {
      padding-left: 25%;
      margin-top: 10%;
      li {
        list-style: none;
        padding-top: 5%;
        padding-bottom: 5%;
        a {
          font-size: 18px;
          color: #ffffff;
          transition: .3s ease all;
          &:hover {
            padding-left: 10%;
            padding-right: 5%;
            background-color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
