<div class="navbarContainer" (scroll)="scrollHandler($event)">
    <div class="row navbar-color" [ngClass]="{'other-nav': otherNav, 'navbar-colorMain': !otherNav}">
        <div class="col-md-4 navMenu">
          <i class="fa fa-bars" aria-hidden="true" [ngClass]="{'times':enter }" (click)="menu()" ></i>
          <div class="d-none d-md-inline">
              <a href="#">BECOME A MEMBER</a>
              <a href="#">SING UP</a>
          </div>
        </div>
        <div class="col-md-4 brandImage">
          <div class="brandImage text-center">
              <img src="./assets/brandLogo.png" alt="">
          </div>
        </div>
        <div class="col-md-4 text-center searchCar">
            <i class="fa fa-search" aria-hidden="true"></i>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
      </div>
</div>

<div class="sideBar animated fast" *ngIf="sidenav" [ngClass]="{'fadeInLeft': enter, 'fadeOutLeft':exit }">
  <div class="row">
    <div class="col-md-4 menuOptions">
        <i class="fa fa-times" aria-hidden="true" [ngClass]="{'times':exit }"  (click)="menu()" ></i>

      <ul>
        <li><a href="#">ROOTS</a></li>
        <li><a href="#">ARTICLES</a></li>
        <li><a href="#">VIDEOS</a></li>
        <li><a href="#">PRODUCTS</a></li>
        <li><a href="#">WHERE TO BUY</a></li>
      </ul>
    </div>
  </div>
</div>
