footer {
  background: url('../../../../assets/footerBackground.jpg');
  padding-top: 5%;
  padding-bottom: 2%;
  .brandLogo {
      padding-left: 5%;
    img {
      width: 100%;
    }
  }
  .contactOptions {
    border-right: 1px solid #ffffff;
    ul {
      padding-top: 2%;
      li {
        display: inline;
        color: #ffffff;
        margin-left: 5%;
        cursor: pointer;
        transition: .2s ease all;
        &:hover {
          background-color: #c66371;
          padding-left: 1%;
          padding-right: 2%;
          padding-top: .5%;
          padding-bottom: .5%;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
  .contactIcons {
    button {
      background-color: #ffffff;
      border-radius: 50%;
      margin-left: 5%;
      i {
        color: #000000;
      }
      &:hover {
        i {
          color: #ffffff;
        }
      }
    }
    .facebook {
      &:hover {
        background-color: #3b5998;
      }
    }
    .twitter {
      &:hover {
        background-color: #1da1f2
      }
    }
    .instagram {
      &:hover {
        background-color: #fcaf45
      }
    }
    .youtube {
      &:hover {
        background-color: #ff0000
      }
    }
  }
}
