<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 brandLogo ">
        <p class="text-right">
            <img src="./assets/brandLogo.png" alt="">
        </p>
      </div>
      <div class="col-md-9 contact">
        <div class="row">
          <div class="col-md-8 contactOptions text-right">
              <ul>
                  <li><a>CONTACT US</a></li>
                  <li><a>SIGN UP</a></li>
                  <li><a>BECOME A MEMBER</a></li>
                  <li><a>PRIVACY POLICITY</a></li>
                </ul>
          </div>
          <div class="col-md-4 contactIcons">
          <button class="btn twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            <button class="btn facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </button>
              <button class="btn instagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </button>
                <button class="btn youtube">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>